<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bids.</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    

    <!-- JS, Popper.js, and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/bidding-history.css">

    <!-- Local JS -->
    <script src="javascript/validator.min.js" type="text/javascript"></script>
    <script src="javascript/bidding-history-completed.js"></script>

</head>
<body>
    {{> navbar}}
    <!-- Body -->
    <div class="container" id="header">
        <h1 id="od-history">bidding history</h1>
        <div class="order-tabs">
            <a href="biddingHistoryActive" class="order-tab" title = "active">active</a>
            <a href="biddingHistoryCompleted" class="order-tab selected-tab" title = "completed">completed</a>
            <a href="biddingHistoryLost" class="order-tab" title = "lost">lost</a>
        </div>
    </div>

    <div class="container">
        <div class="order-list">

            {{#each orders}}
            <div class="order" id="sample">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="uploads/{{image}}" class="product-icon item-pic">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <p class="product-name">{{name}}</p>
                        </div>
                        <div class="row">
                            <p class="product-total">Bid Price: {{highestBid}} PHP</p>
                        </div>
                        <div class="row">
                            <p class="product-total">by <span class="title">{{highestBidder}}</span> </p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end">
                         <div class="row">
                            <p class="product-total">Completed on</p>
                         </div>
                         <div class="row">
                             <p class="product-total"><span class="title">{{endDate}}</span> </p>
                         </div>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                                <div class="row details">
                                    <button onclick="window.location.href='/listingItem?id={{_id}}'" type="button" class="btn btn-light cancel-button" id="sample">SEE BID DETAILS</button>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-light report-button" data-toggle="modal" data-target="#report-order-{{_id}}" aria-expanded="false" aria-controls="report-order-{{_id}}">REPORT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal fade" id="report-order-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">        
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <h1 class="title">report.</h1>
                                        <h1 class="formtitle">select a problem</h1>
                                        <select name="reporttype" class="form-control search-rounded input-form dropdown" id="problem-{{_id}}">
                                            <option value="Copyright Infringement">Copyright Infringement</option>
                                            <option value="Prohibited Items">Prohibited Items</option>
                                            <option value="Listing Policy Violation">Listing Policy Violation</option>
                                            <option value="Offensive Product">Offensive Product</option>
                                            <option value="Fraudulent Listing">Fraudulent Listing</option>
                                            <option value="Transaction Problem">Transaction Problem</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <h1 class="formtitle">describe the problem</h1>
                                        <input type="text" class="form-control search-rounded input-form form-message" id="form-message-{{_id}}" placeholder="Description" name="desc">
                                        
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="submitMessage btnreport btn btn-dark" name="{{_id}}">Report</button>
                    </div>
                    </div>
                </div>
                </div>
            <div class="modal fade" id="reportDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="title">report success.</h1>
                </div>
                <div class="modal-body">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h1 class="formtitle">Thank you for your feedback.</h1>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                </div>
                </div>
            </div>
            </div>
            {{/each}}
            
        </div>
    </div>

    {{> footer}}
</body>
</html>
